<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
    <head>
        <meta charset="UTF-8">
        <title>Tic Tac Toe</title>
        <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    </head>
    <body>
      <div class="container">
          <div class="menuWrapper">
              <ul class="menu">
                  <li> pierwsza opcja </li>
                  <li> druga opcja </li>
                  <li> trzecia opcja </li>
              </ul>
          </div>
          <div class="twoUnitContainer">
              <div class="unit">
                  <ul class="leftUnitContent">
                      <li> input? </li>
                      <li> input? </li>
                      <li> input? </li>
                      <li> submit? </li>
                      <li> info? </li>
                  </ul>
              </div>
              <div class="separateUnit"></div>
              <div class="unit">
                  <ul class="rightUnitContent">
                      <li> info </li>
                      <li> info </li>
                      <li> info </li>
                      <li> info </li>
                      <li> info </li>
                      <li> info </li>
                      <li> info </li>
                      <li> info </li>
                      <li> info </li>
                      <li> info </li>

                  </ul>
              </div>
          </div>
       </div>
    </body>
</html>