@import '../bootstrap/bootstrap';
body{
  background-image: url("img/email-pattern.png");
  width: 1000px;
  height: 700px;
}
.elements-container{
  width: 1000px;
  height: 700px;
  padding: 2px;
  -webkit-box-shadow: 3px 10px 15px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 10px 15px 4px rgba(0,0,0,0.75);
  box-shadow: 3px 10px 15px 4px rgba(0,0,0,0.75);
  position: absolute; /*start   center vertically and horizontally */
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); /* center vertically and horizontally   end*/
}
.menu-wrapper{
  width: 100%;
  height: 7%;
}
.menu{
  width: 100%;
  height: 100%;
  background-color: #e1f4f3;
  font-size: 25px;
  padding: unset;
  margin: unset;
  list-style-type: none;
  li{
      height: 100%;
      width: 33.333%;
      float: left;
      text-align: center;
      border-right-style: dashed;
      box-sizing: border-box; /*Important for border! CSS3+*/
  }
  li:nth-last-child(1){
     border: unset;
  }
  li:hover {
    background-color: #a2ddda;
  }
}
.two-unit-container{
  width: 100%;
  height: 100%;
  float:left;
  padding: 100px;
  box-sizing: border-box; /*Important for padding! CSS3+*/
}
.separate-unit{
  height: 1px;
  width: 20%;
  float: left;
}
.unit{
  width: 40%;
  height: 100%;
  float: left;
  color: #333333;
  padding: 6px;
  box-sizing: border-box; /*Important for padding! CSS3+*/
}
.left-unit-content{
  width: 100%;
  height: 100%;
  padding: unset;
  margin: unset;
  border-style: solid;
  border-width: 3px;
  list-style-type: none;
  li{
    border-bottom-style: dashed;
    padding: 6px;
    box-sizing: border-box; /*Important for padding! CSS3+*/
  }
  li:nth-last-child(1){
    height: 18%;
    border-bottom-style: unset;
  }
}
.right-unit-content{
  width: 100%;
  height: 100%;
  padding: unset;
  margin: unset;
  border-style: solid;
  border-width: 3px;
  box-sizing: border-box;/*Important for border! CSS3+*/
  list-style-type: none;
  li{
    width: 100%;
    border-bottom-style: solid;
    border-width: 3px;
    padding: 6px;
  }
  li:hover{
    background-color: #706c61;
  }
  li:nth-last-child(1){
    border: unset;
  }
}
.input-text{
  height: 100%;
  width: 170px;
  float: right;
  border: unset;
  padding: unset;
  color: #a2ddda;
}
.input-password{
  height: 100%;
  width: 170px;
  float: right;
  border: unset;
  padding: unset;
  color: #a2ddda;
}
.input-warning{
  text-align: center;
  display:block;
  font-size: 15px;
  color: red;
}
.input-reference{
  height: 100%;
  text-align: center;
  font-size: 15px;
  color: #e1f4f3;
}
.submit-button{
  width: 100px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  border: unset;
  display:block;
  background-color: #e1f4f3;
}
.submit:hover{
  background-color: #a2ddda;
}
/*try to stay with this order:
    height/width - float - background - font/text - border/padding/margin/shadow - color - special
*/
/* palette:  https://colorhunt.co/palette/169452  */
